extends layout

block content
	main
		.headline
			h1 Pollster
			p Create custom polls with live results.
		.searchbar
			input(name='search' class='bar' type='text' placeholder='Find a Poll')
			input(name='submit' class='btn' type='submit' value='Search')