extends layout

block content
	main
		h1 Log In

		if (message.length > 0)
			div(class='alert alert-danger') #{message}

		form(class='col-4 mx-auto' method='POST' action='')
			div(class='form-group row')
				label(for='userName') Name
				input(class='form-control' name='name' type='text')
			div(class='form-group row')
				label(for='password') Password
				input(class='form-control' name='password' type='password')
			input(type='submit' class='btn btn-primary' value='Login')