extends layout

block content
	main
		div(class='container col-6 mx-auto')
			p Showing results for: #{search}

			ul
				each result in polls
					li(class='row')
						a(href=result.url) #{result.title}
				else
					li There are no results for #{search}