html{
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  position: relative;
  background: #bdc0a9;
  margin: 0;
  padding-bottom: 6rem;
  font: 26px "Roboto", Helvetica, Arial, sans-serif;
  color: white;
  min-height: 100%;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

nav, footer {
	background: #0c2f3f;
}

.nav-ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: left;
	padding: 0 5%;
}

li {
	padding: 1em 0.25em;
}

.home {
	margin-right: auto;
}

a {
	color: white;
}

li a:hover {
	transition: color 0.5s ease;
	text-decoration: underline;
}

main {
	color: black;
	padding-top: 64px;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

.trending-polls{
	color: black;
}


footer {
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	text-align: center;
	padding: 1rem;
}

footer a:hover {
	transition: color 0.5s ease;
	text-decoration: underline;
}